<div class="row row-cards">
    <a href="#" class="col-sm-12 col-lg-4">
        <div class="card bg-success card-img-holder text-white">
            <div class="card-body">
                <img src="~/Template2/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                <h4 class="font-weight-normal  mb-3">
                    Active Bidders
                    <i class="fa fa-sitemap fs-30 float-right"></i>
                </h4>
                <h2 class="mb-0">145</h2>
            </div>
        </div>
    </a>
    <a href="#" class="col-sm-12 col-lg-4">
        <div class="card bg-info card-img-holder text-white">
            <div class="card-body">
                <img src="~/Template2/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                <h4 class="font-weight-normal mb-3">
                    Active Bids
                    <i class="fa fa-slack fs-30 float-right"></i>
                </h4>
                <h2 class="mb-0">78</h2>
            </div>
        </div>
    </a>
    <a href="#" class="col-sm-12 col-lg-4">
        <div class="card bg-primary card-img-holder text-white">
            <div class="card-body">
                <img src="~/Template2/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                <h4 class="font-weight-normal  mb-3">
                    All Bids
                    <i class="fa fa-paper-plane-o fs-30 float-right"></i>
                </h4>
                <h2 class="mb-0">345</h2>
            </div>
        </div>
    </a>
</div>